:root {
  --header-color: rgb(91, 173, 210);
  --footer-color: rgb(91, 173, 210);
  --footer-height: 40px;
}

/* Footer an Unterseite kleben */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

/* Ende - Footer an Unterseite kleben */

/* Navbar */
nav {
  background-color: lightblue;
}

/* Ende - Navbar */